if SHIELD_IKB_R

config ZMK_KEYBOARD_NAME
    default "IKB_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_IKB_L

config ZMK_KEYBOARD_NAME
    default "IKB"

config ZMK_SPLIT
    default y

endif
